/*text{font-size:36px;}*/

body
{
background-image:url('nzaus.jpg');
background-repeat:no-repeat;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  font: 11px sans-serif;
  text-anchor: end;
}

#chart rect:hover {
  fill: brown;
}

.force-node:hover {
  fill: orange !important;
}

.force-node.selected {
  fill: red !important;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.focus .axis path,
.focus .axis line {

  stroke:lightgrey;
  opacity:0.7;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chart {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  border:1px solid;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.area {
  fill: steelblue;
  clip-path: url(#clip);
}



